{% extends "admin/base.html" %}
{% load i18n %}

{% block nav-global %}
    <div id="language-selector">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <select name="language">
                {% get_current_language as current_language %}
                {% get_available_languages as available_languages %}
                {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                        {{ lang_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Switch Language</button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}
